<div class="mt-6 p-5 shadow-lg h-full rounded-2xl bg-pink-50 border border-pink-200">
    <div class="border-b pb-3">
        <h3 class="text-xl font-bold text-center text-pink-700 tracking-wide">Categories</h3>
    </div>

    <div class="mt-4 space-y-3">
        @for (mainCategory of getCategories(); track mainCategory.id) {
            <details class="group rounded-t-xl bg-white border border-pink-200">
                <summary class="cursor-pointer list-none px-5 py-3 bg-pink-100 font-semibold text-pink-600 hover:bg-pink-50 flex justify-between items-center transition rounded-t-xl">
                    <span class="text-pink-700">{{mainCategory.category}}</span>
                    <fa-icon [icon]="faAngleDown" class="transform transition-transform group-open:rotate-180 text-pink-400"></fa-icon>
                </summary>
                <div class="px-5 py-4">
                    <ul class="space-y-3">
                        @for (subCategory of getCategories(mainCategory.id); track subCategory.id) {
                            <li class="text-center">
                                <a href="#"
                                    class="link-hover">{{subCategory.category}}</a>
                            </li>
                        }
                    </ul>
                </div>
            </details>
        }
    </div>
</div>