<div class="w-full shadow-lg shadow-pink-500/50 bg-pink-900 pr-8">
    <div class="flex items-center">
        <div class="text-white ml-3 p-4 w-[23%]">
            <h1 class="text-xl font-bold">Nice shop</h1>
        </div>
        <div class="p-0 my-4 w-[50%] h-[2.5rem] bg-white flex items-center">
            <select class="min-w-[20%] max-w-[30%] w-auto bg-pink-300 h-full border-none font-semibold px-2 pr-5" name="filter" title="filter" id="">
                <option value="">Men</option>
                <option value="">Women</option>
                <option value="">Kids</option>
            </select>
            <input class="w-[90%] h-full inline-block border-none outline-none px-3" type="text" placeholder="Search..." />
            <button class="w-[10%] h-10 border-solid-[2px] bg-pink-300 flex justify-center items-center">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
        <div class="flex items-center w-[27%] gap-6 justify-end h-full mr-4">
            <div class="flex items-center gap-2 text-white">
                <fa-icon [icon]="faUserCircle" class="text-[1.3em]"></fa-icon>
                <h5>
                    <a href="#" class="text-white no-underline hover:underline">Sign in</a>
                </h5>
                <span>/</span>
                <h5>
                    <a href="#" class="text-white no-underline hover:underline">Register</a>
                </h5>
            </div>
        </div>
        <div class="flex items-center gap-4 text-white text-[1.3em]">
            <fa-icon [icon]="faHeart"></fa-icon>
            <fa-icon [icon]="faShoppingCart"></fa-icon>
        </div>
    </div>
</div>