<div class="flex flex-col items-center justify-center h-screen bg-pink-900 text-white px-4">
    <h1 class="text-8xl font-extrabold tracking wide">404</h1>
    <p class="text-2xl mt-2 text-pink-300">Oops! Page not found!</p>
    <p class="text-md text-pink-300 mt-1">The page you`re looking for doesn`t exist or has been moved.</p>
    <a class="mt-6 px-6 py-3 text-lg bg-violet-700 rounded-lg hover:bg-violet-900 transition shadow-lg" href="/home">Take me home</a>
    <div class="mt-8 flex items-center gap-4">
        <a class="text-violet-300 hover:text-white transition" href="/help">Need help?</a>
        <span class="h-4 w-[1px] bg-pink-300"></span>
        <a class="text-violet-300 hover:text-white transition" href="/contacts">Contact Support</a>
    </div>
</div>